body {
	background-color: #ebf0fa;
	background-image: url("mdcooking.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	font-family: Papyrus, fantasy;
	font-size: 30px;
	color: #3366cc;
	text-align: center;
}

p {
	font-family: Goudy Old Style, serif;
	font-size: 24px;
	color: #1f3d7a;
}

.aboutUs {
	font-family: Goudy Old Style, serif;
	font-size: 24px;
	color: #3366cc;
	text-align: center;
}

a:link {
	color: #3366cc;
}

a:visited {
	color: #85a3e0;
}
a:hover {
	color: #1f3d7a;
}