body {
	background-color: #ebf0fa;
}

body.main {
	background-image: url("mdcooking.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	font-family: Papyrus, fantasy;
	font-size: 40px;
	color: #3366cc;
	text-align: center;
}

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	color: #3366cc;
}

.aboutUs {
	font-family: Goudy Old Style, serif;
	font-size: 24px;
	color: #1f3d7a;
	text-align: center;
}

.search {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	color: #3366cc;
	text-align: center;	
}

a:link {
	color: #3366cc;
}

a:visited {
	color: #85a3e0;
}
a:hover {
	color: #1f3d7a;
}